body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('../fonts/advocut/advocut-webfont.eot');
    src: url('../fonts/advocut/advocut-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/advocut/advocut-webfont.woff') format('woff'),
    url('../fonts/advocut/advocut-webfont.ttf') format('truetype'),
    url('../fonts/advocut/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gp {
    font-family: 'AdvoCut', sans-serif;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #111;
    overflow: hidden;
    image-rendering: -moz-crisp-edges;
    border-top: 2px solid #707070;
}

#resizeCheck {
    top: 0;
    height: 0;
    left: 0;
    position: absolute;
    -moz-transition: 0.001s height ease-in-out;
    -webkit-transition: 0.001s height ease-in-out;
    -o-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

body {
    background: url('../img/background.png') no-repeat center center;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left-ornament, .right-ornament {
    background: url('../img/1/spritesheet.png');
    image-rendering: -moz-crisp-edges;
}

.left-ornament {
    position: relative;
    top: 0;
}

.right-ornament {
    position: relative;
    top: 0;
}

.link:hover {
    cursor: pointer;
    color: #d83939;
}

#resizeCheck {
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    -moz-transition: 0.001s height ease-in-out;
    -webkit-transition: 0.001s height ease-in-out;
    -o-transition: 0.001s height ease-in-out;
    transition: 0.001s height ease-in-out;
}

@media only screen and (min-width: 1501px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 60px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-left: 30px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/3/spritesheet.png');
        image-rendering: -moz-crisp-edges;
    }

    .left-ornament, .right-ornament {
        background-size: 1266px auto;
    }

    .left-ornament {
        background-position: -1062px 0;
    }

    .right-ornament {
        background-position: -1155px 0;
    }

    .left-ornament, .right-ornament {
        width: 93px;
        height: 36px;
        display: inline-block;
        margin: 0 20px;
        top: 12px;
        position: relative;
    }

    #createCharacter .login {
        margin: 12px auto 12px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 105px 240px 105px 240px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login, .login div, .createNew, .createNew div {
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        background-size: auto 30px;
    }

    .login div {
        width: 375px;
        height: 153px;
        background-position: -687px 0;
    }

    .login div:active {
        background-position: -687px -459px;
    }

    .login.loading div {
        background-position: -681px -2178px;
    }

    .login.loading img {
        width: 24px;
        height: 24px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 3px;
    }
    
}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 40px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 20px;
    }

    .left-ornament, .right-ornament {
        background: url('../img/2/spritesheet.png');
        image-rendering: -moz-crisp-edges;
    }

    .left-ornament, .right-ornament {
        background-size: 844px auto;
    }

    .left-ornament {
        background-position: -708px 0;
    }

    .right-ornament {
        background-position: -770px 0;
    }

    .left-ornament, .right-ornament {
        width: 62px;
        height: 24px;
        position: relative;
        display: inline-block;
        margin: 0 15px;
        top: 6px;
    }

    #createCharacter .login {
        margin: 8px auto 8px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 70px 160px 70px 160px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 250px;
        height: 102px;
        background-position: -458px 0;
    }

    .login div:active {
        background-position: -458px -306px;
    }

    .login.loading div {
        background-position: -454px -1452px;
    }

    .login.loading img {
        width: 16px;
        height: 16px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 2px;
    }
    
}

@media only screen and (max-width: 1000px) {

    #parchment h1, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 20px;
    }

    #parchment h2, #loadCharacter h1, #createCharacter h1, #about h1 {
        margin-top: 10px;
    }

    .left-ornament, .right-ornament {
        background-size: 422px auto;
    }
    
    .left-ornament {
        background-position: -354px 0;
    }

    .right-ornament {
        background-position: -385px 0;
    }
    
    .left-ornament, .right-ornament {
        width: 31px;
        height: 12px;
        display: inline-block;
        margin: 0 10px;
        top: 3px;
        position: relative;
    }

    #createCharacter .login {
        margin: 4px auto 4px auto;
    }

    .login, .login div, .createNew, .createNew div {
        margin: 35px 80px 35px 80px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
    }

    .login div {
        width: 125px;
        height: 51px;
        background-position: -229px 0;
    }

    .login div:active {
        background-position: -229px -153px;
    }

    .login.loading div {
        background-position: -227px -726px;
    }

    .login.loading img {
        width: 8px;
        height: 8px;
    }

    .login img {
        display: none;
    }

    .login.loading span:hover {
        color: inherit;
        cursor: default;
    }

    .login.loading img {
        display: inline;
    }

    #resizeCheck {
        height: 1px;
    }
    
}